

footer {
    padding: 0 .75rem;
    padding-top: 100px;
    padding-bottom: 50px;
    
  }
  
  .footertop {
    display: inline;
  }
  
  .footerlogodiv {
    width: auto;
  }
  
  .footerlogo {
    width: 200px;
    height: auto;
  }
  
  .socials {
    max-height: 50px;
    display: flexbox;
    align-items: center;
    justify-content: center;
  
  }
  
  .socialslogo {
    padding: 0.5rem;
    width: 50px;
    height: autp;
  
  }
  
  .socialslogo img {
    width: 50px;
    height: 100%;
  }
  
  .footerbottom {
    max-width: fit-content;
    margin-left: auto;
  }
  
  