.carousel-item {
  height: calc(100vh - 141px);
  width: 100vw;
}

@media only screen and (max-width: 850px) {
  .carousel-item {
    height: calc(100vh - 77px);
    width: 100vw;
  }
}



.carousel-image {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: center;
}