nav {
    display: block !important;
    text-align: center;
} 

menu {
vertical-align: bottom;

}

.navbar {
    display: flex;
    top: 0;
    position: sticky;
    /* align-items: center; */
    width: 100%;
    margin: auto;
}

nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    /* position: relative; */

    z-index: 2;
    font-family: 'Times New Roman', Times, serif;
}

/* Centering the navlogo */
.navlogo {
    margin: 0 auto;
    max-width: 300px;
    /* Adjust the size of the logo */
}

.navlogomark {
    margin: 0 auto;
    max-width: 50px;
    padding-bottom: 10px;
    /* Adjust the size of the logo */
}

.navlogotype {
    margin: 0 auto;
    max-width: 300px;
    /* Adjust the size of the logo */
}



/* Styling for the hamburger menu */
.hamburger {
    display: none;
    position: absolute;
    right: 10px;
    /* Move hamburger to the far right */
    z-index: 11;
    --x-width: 50px;
    /* --x-width: calc(10px); */
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    float: right;
    cursor: pointer;

}

.navitem {
    font-size: 25px;
    list-style: none;
}


.padding-nav {
    padding-top: 57px !important;  

}
/* 
.hamburger:has(input:checked) {
    --foreground: var(--saddle15);
    --background: var(--saddle);
}

.hamburger:has(input:focus-visible)::before,
.hamburger:has(input:focus-visible)::after,
.hamburger input:focus-visible {
    border: 1px solid var(--saddle);
    box-shadow: 0 0 0 1px var(--saddle15);
}

.hamburger::before,
.hamburger::after,
.hamburger input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--saddle);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
}

.hamburger input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger input:checked {
    opacity: 0;
    width: 0;
}

.navlist {
    transition: translate var(--animation-timing);
    translate: 0 -100%;
    position: absolute;

    display: grid;
    align-items: center;
    background-color: var(--saddle15);
    color: var(--saddle);
    min-width: 100vw;
    width: 100%;
    min-height: 100vh;
    top: 0px;
    left: 0px;

}

.hamburger:has(input:checked)+.navlist {
    translate: 0 0;
}
 */
