.projects{
    color: var(--saddle);
    /* font: optional; */
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    /* font-weight: 200; */
    /* fon */
}

.project {
    position: relative;
    padding: 10px 0px;
}

.project-photo {
    height: 300px;
    width: 400px;
    object-fit: cover;
}



.project-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.project-title {
    width: 400px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
/* color: var(--saddle-dark); */
    background-color: var(--night15);
    opacity: 0.7;
    /* left: 50%; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(0%, -110%);
  color: var(--saddle15); */
}