.project-photo {
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.tags {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.project-image {
    max-width: 100%;
    height: auto;
}

.project-title {
    position:relative;
  /* top: 50%;
  left: 50%; */
  transform: translate(0%, -110%);
  color: var(--saddle15);
}