.navcontainer {
    color: black;
    /* background-color: #EEE7DF; */
    position: fixed;
    padding: 10px;
}

.navbar {
    color: black;
    display: flex;
    top: 0;
    position: sticky;
    z-index: 0;
    align-items: center;
}

.navlogo {
    width: 40px;
    height: 40px;
}

.navmenu {
    display: inline;
}

.navlist {
    display: flex;
    list-style-type: none;
    margin-left: 5px;
}

.navitem {
    margin: 2px;
}