.navbar {
    color: black;
    display: flex;
    top: 0;
    position: sticky;
    z-index: 0;
    align-items: center;
    width: 100%;
}

.navcontainer {
    display: flex;
    justify-content: space-between;
    color: black;
    background-color: var(--saddle15);
    position: fixed;
    /* margin: 10px; */
    max-height: 60px;
    width: 100%;
}

.navlogo {
    width:50px;
    height: 100%;
}

.navlogo, .hamburger {
    z-index: 2;
}

/* 
.navlist {
    list-style-type: none;
    margin-left: 5px;
} */
/* 
.navitem {
    margin: 2px;
} */



/* #navtoggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
} */






.hamburger {
    --x-width: calc(var(--hamburger-height) * 1);


    display: flex;
    flex-direction: column;
    gap: 6px;
    width: max-content;
    position: relative;
    float: right;
    /* top: 0; */
    /* left: 100px; */
    z-index: 2;
    cursor: pointer;
}

.hamburger:has(input:checked) {
    --foreground: var(--saddle15);
    --background: var(--saddle);
}

.hamburger:has(input:focus-visible)::before,
.hamburger:has(input:focus-visible)::after,
.hamburger input:focus-visible {
    border: 1px solid var(--saddle);
    box-shadow: 0 0 0 1px var(--saddle15);
}

.hamburger::before,
.hamburger::after,
.hamburger input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--saddle15);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
}

.hamburger input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger input:checked {
    opacity: 0;
    width: 0;
}

.navlist {
    transition: translate var(--animation-timing);
    translate: 0 -100%;
    position: absolute;
    display: flex;
    justify-content: center;
    /* padding: 0.5rem 1rem; */
    /* padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem); */
    background-color: var(--saddle15);
    color: var(--saddle);
    min-width: 100vw;
    min-height: 100vh;
}

.hamburger:has(input:checked)+.navlist {
    translate: 0 0;
}